<%- include("header") -%>
<div class="box" id="heading">
    <h1>ABOUT US</h1>
</div>

<div class="box">
    <p>This is a Todo list web application created for you all. By using this application, You can make note of your day to day activities.</p>
    <p>A warm thanks to all the user for using this application.</p>
    <p>- Suraj Prakash</p>
</div>
<%- include("footer") -%>